<footer>
    <div class="table">
      <ul class="list">
        <li class="icon"><a href="mailto:name@email.com"><img src="../../assets/Social icons/email-12-xxl.png" alt="Mail icon"></a></li>
        <li class="icon"><a href="https://twitter.com/juledekyvere"><img src="../../assets/Social icons/twitter-xxl.png" alt="Twitter icon"></a></li>
        <li class="icon"><a href="https://github.com/juledek"><img src="../../assets/Social icons/github-6-xxl.png" alt="Github icon"></a></li>
        <li class="icon"><a href="https://discordapp.com/users/496641850443169801"><img src="../../assets/Social icons/discord-xxl.png" alt="Discord icon"></a></li>
        <li class="icon"><a href="https://www.linkedin.com/in/jule-dekyvere/"><img src="../../assets/Social icons/linkedin-6-xxl.png" alt="LinkedIn icon"></a></li>
      </ul>
    </div>
  </footer>