
<div class="container">

    
        <div class="content">
            
            <div class="Explanation">
                <h4>
                    Hey! Mijn naam is
                </h4>
                <h1>
                    Jule Dekyvere.
                </h1>
                <h2>
                    Ik ben een pas afgestudeerde software developer.
                </h2>
                <div class="smallAbout">
                    <h5>
                        Ik ben gebaseerd in Gent, BE en specialiseer mij in het maken van kleine websites, mobiele applicaties en software solutions.
                    </h5>
                </div>
            </div>
            <div class="image">
                <img src="../../../assets/Portrets/mijnhoofd.png">
            </div>
        </div>
    
    
    <!-- <img class="background" src="../../../assets/background images/marvin-meyer-SYTO3xs06fU-unsplash.jpg" alt="background coding" > -->

</div>