.container{
    background-color: #F2F2F2;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    color: #7B8C80;
    font-size: 18px;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 80vh;
}

.block{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 2em; 
    height: 80vh;
    scroll-snap-align: start;
}



.imgbox{
    position:relative;
    width: 50%;
    color: #F2F2F2;
    padding: 0.5em;
}

.imgbox img{
    width: 100%;
}


.direction {
    position: absolute;
    bottom: 10px;
    left: 19px;
    font-size: 13px;
    margin-bottom: 0.2em;
 }


img{
    width: 50%;
    border-radius: 0.5em;
}

p {
    width: 45%;
    padding: 0.5em;
}

a {
    text-decoration: none;
    color: inherit;
}


@media only screen and (min-width: 992px){
    .container {
        /* max-width: 980px; */
        
    }
}

@media only screen and (max-width: 768px){
    .container {
        max-width: 720px;
    }
}

@media only screen and (max-width: 576px){
    .container {
        max-width: 570px;
    }
}